### What is Python?
Python is a popular programming language.
    
It is used for:
* web development (server-side),
* software development,
* mathematics,
* system scripting.

### Here we will cover basics of Python
* Variables
* Datatypes

There is no separate way to declare a variable. Assigning value will declare and initialization.

In [143]:
1+2

3

In [78]:
# Variable initialization 
a = 10

In [79]:
a

10

In [80]:
# try out with any name, you should be able to create a variable
# example i am using my name below; Here '=' is an assignment operator
robin = 2434432

robin

2434432

In [81]:
# To know the type of the variable you can use below
# type will return the type of data stored in the variable
type(robin)

int

In [82]:
# Here the type of data is float (Here will cover different types of datatypes)
b = 23.4

type(b)

float

### Data Types:
Python has the following data types built-in by default, in these categories:

  * Text Type:	str
  * Numeric Types:	int, float, complex
  * Sequence Types:	list, tuple, range
  * Mapping Type:	dict
  * Set Types:	set, frozenset
  * Boolean Type:	bool
  * Binary Types:	bytes, bytearray, memoryview
  * None Type:	NoneType

In [83]:
# Creating a string variable
# strings can be created using '' or ""
#String variables can be declared either by using single or double quotes
b = 'Any string or name goes here'

type(b)

str

In [84]:
s1 = 'this is my first python class'

s1

'this is my first python class'

In [85]:
# declaring and creating variable of float type
f = 34.43

In [86]:
type(f)

float

In [87]:
# Declaring complex numbers
c = 7 + 9j

In [88]:
# imaginary part of the complext number is denoted by 'j'
# j is notation of imaginary number, i can not be used for imaginary number
c

(7+9j)

In [89]:
type(c)

complex

In [90]:
c.real

7.0

In [91]:
c.imag

9.0

In [92]:
# Creating boolean variable
b = True

In [93]:
b

True

In [94]:
type(b)

bool

In [95]:
b1 = False

type(b1)

bool

### Operators
    Opratr	Name	Example
    +	Addition	x + y	
    -	Subtraction	x - y	
    *	Multiplication	x * y	
    /	Division	x / y	
    %	Modulus	x % y	
    **	Exponentiation	x ** y	
    //	Floor division	x // y

In [144]:
a1 = 62
a2 = 48

In [97]:
# Addition
a1 + a2

110

In [98]:
# Multiply
a1*a2

2976

In [99]:
# Divide
a1/a2

1.2916666666666667

In [100]:
# Subtraction
a1-a2

14

In [101]:
# Modulus (Remainder)
a1%a2

14

In [102]:
# Assignment of multiple variable in single line

a1, a2 = 62, 48

In [103]:
a1

62

In [104]:
a2

48

In [105]:
# Assigning multiple variables in single but of different types

a,b,c,d = 234,'Robin',23.3,True

In [106]:
a

234

In [107]:
b

'Robin'

In [108]:
c

23.3

In [109]:
d

True

### Valid variable names

In [110]:
%a = 1312

UsageError: Line magic function `%a` not found.

In [ ]:
0d = 2

In [ ]:
@d = True

In [ ]:
_a = 34

_a

#### A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)
* A variable name cannot be any of the Python keywords.

In [ ]:
# ZeroDivisionError                         

a = 3
b = 0

c = a/b

In [ ]:
s1= 'ehtwrtewtktrjw'

type(s1)

In [ ]:
# Syntax error and how to use ' in string
s2 = 'serwerewrewwrwer'dw'

In [ ]:
s2 = "serwerewrewwrwer'dw"

In [ ]:
# If i want to use " in string
s3 = 'serwerewrewwrwer"dw'

### Comments
* '#' is used for single line comment
* ''' or """ is used for multiline comments

In [ ]:
This is my comment

s = 'wejrjlr'

In [ ]:
#This is my comment

s = 'wejrjlr'

In [ ]:
Let us try out multiline comments
Multiline comments are spanned over multiple lines
Here it will not work because this comments are treated as comments here

a = 2

In [ ]:
#Let us try out multiline comments
#Multiline comments are spanned over multiple lines
#One way is to use # in each single line

a = 2

a

In [ ]:
'''Let us try out multiline comments
Multiline comments are spanned over multiple lines
""" is used for multiline comments
'''

a = 5

a

In [ ]:
# Operators on different type
s = 'Robin'

a = 10

s + a

In [ ]:
s = 'Robin'
s1 = ' Pabbi'

s + s1

### Type Casting

In [ ]:
a = 10

str(a)

In [ ]:
b = '23'

int(b)

In [ ]:
#Can not convert invalid string to number
s = 'Robin'

int(s)

### Taking a input from user

In [111]:
age = input('Please enter you age:')

Please enter you age: 34

In [112]:
age

'34'

In [113]:
# input return by default string
type(age)

str

In [114]:
age = int(age)

In [115]:
age

34

In [116]:
age = int(input('Please enter you age:'))

Please enter you age: 34

In [117]:
type(age)

int

In [123]:
### Slicing Strings

name = 'Robin'

name[2:]

'bin'

In [124]:
name[1]

'o'

In [125]:
name[-1]

'n'

In [137]:
name[6]

IndexError: string index out of range

In [129]:
# Reverse a string
# Start from -1 and step -1
name[-1::-1]

'niboR'

In [132]:
name[0:2]

'Ro'

In [133]:
name[2:-1]

'bi'

In [135]:
name[2:5]

'bin'

In [136]:
name[2:500]

'bin'

In [138]:
# Alternative characters using step
name[0::2]

'Rbn'

In [141]:
name[5:2:-1]

'ni'

### Immutability in Strings

In [142]:
name[0] = 'J'

TypeError: 'str' object does not support item assignment